Package: laps4linux-runner
Version: 1.12.0
Section: base
Priority: optional
Architecture: all
Depends: python3, python3-venv, python3-pip, python3-setuptools, python3-gssapi, python3-dnspython, krb5-user, libkrb5-dev
Conflicts: laps4linux, laps4linux-gui, laps4linux-cli
Maintainer: Georg Sieber <it@georg-sieber.de>
Description: Linux implementation of the Local Administrator Password Solution (LAPS) from Microsoft.
 This package contains the LAPS runner for automatically changing the local admin password. In order to use the runner, the machine needs to be joined into your domain using Samba 'net ads join', PBIS 'domainjoin-cli join' or 'adcli join'. Please adjust the config file /etc/laps-runner.ini and check if LDAP access is working by executing 'laps-runner -f'.

