.DS_Store

test*.py

__pycache__/

build/
dist/

*.egg-info/
venv/

installer/windows/*.exe
installer/macos/target/*
installer/deb/*.deb
installer/deb/laps4linux-*/*
!installer/deb/laps4linux-*/DEBIAN/
